# Зависимости
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Локальные env файлы
.env*.local
.env

# Next.js
.next/
out/

# Системные файлы
.DS_Store
*.tsbuildinfo

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Документация
README.md
*.md

# Временные файлы
*.tmp
*.temp

# IDE
.vscode
.idea

# Тестирование
coverage
.nyc_output

# Логи
logs
*.log
